html
	head
		include navBar.pug
		title all messages #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")
		style
			include allMessages.css

	body
		form(class="formTable")
			div(class="completeTable")
				div(class="headRow")
					div(class="divCellHeader")
						p message id
					div(class="divCellHeader")
						p Title
					div(class="divCellHeader")
						p Body
					div(class="divCellHeader")
						p user id
				div(class="divRow")
					div(class="divCell")
					div(class="divCell")
					div(class="divCell")
					div(class="divCell")
				div(class="commentSection")
					div(class="commentCell")
					div(class="commentCell")
		//- div.addCommentContainer
		//- 	form.addComment(method="POST", action="/addComment")
		//- 		p.bodyComment
		//- 			input.inputBodyComment(type="text", name="bodyComment", value="body of your comment", autocomplete="off")
		//- 		p.submitMessage
		//- 			input.inputSubmitComment(type="submit", name="submit", value="Add Comment", autocomplete="off")

