html 
	head
		title Login/Signup #{title}
		include navBar.pug
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")
		style
			include loginpage.css		
	body
		//- input(class="loginButton",type="button", value="Login")
		//- input(class="signupButton",type="button", value="Sign Up")
		FORM(class="loginClass",ACTION="/login", METHOD="POST")
			input(type="text", name="username", value="username")
			input(type="password", name="password", password="password")
			input(class="submitButton",type="submit", name="submit", value="Login")
		FORM(class="signupClass", ACTION="/signup", METHOD="POST")
			input(type="text", name="username", value="username")
			input(type="password", name="password", password="password")
			input(class="submitButton", type="submit", name="submit", value="Sign Up")

		//- script.
		//- 	$(document).ready(function() {
		//- 		$(".loginButton").click() {
		//- 			$(".loginClass").append('<input type="text", name="username", value="username"></input>'+'<input type="text", name="password", password="password"></input>'+'<input(type="submit", name="submit"></input>')
		//- 		}
		//- 		$(".signupButton").click(){
		//- 			$(".signupClass").show()
		//- 		}
		//- 	})