html 
	head
		title Login/Signup #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")
		include navBar.pug		
		style
			include loginpage.css
	body
		div(class="container")
			div(class="buttons")
				input(class="loginButton",type="button", value="Login")
				FORM(class="loginClass",ACTION="/login", METHOD="POST")
					input(class="textField", type="text", name="username", value="username")
					input(class="textField", type="password", name="password", password="password", placeholder="Your password")
					input(class="submitButton",type="submit", name="submit", value="Login")
				input(class="signupButton",type="button", value="Sign Up")
				FORM(class="signupClass", ACTION="/signup", METHOD="POST")
					input(class="textField", type="text", name="username", value="username")
					input(class="textField", type="password", name="password", password="password", placeholder="Your password")
					input(class="submitButton", type="submit", name="submit", value="Sign Up")

	script.
		$(document).ready(function() {
			$(".signupClass").hide()
			$(".loginClass").hide()
			$(".signupButton").click(function(){
			$(".signupClass").show()
			$(".loginClass").hide()
			$(".signupButton").hide()
			$(".loginButton").show()
			})
			$(".loginButton").click(function(){
			$(".loginClass").show()
			$(".signupClass").hide()
			$(".loginButton").hide()
			$(".signupButton").show()
			})
		})
				