//- nav.pug

nav
	ul.navBar 
		li.navBar
			a(href='addMessages') Add messages
		li.navBar
			a(href='allMessages') All messages
		li.navBar
			a(href='ownMessages') My messages	
		li.navBar
			a(href='login') Login page
		li.navBar
			a(href='Logout') Log out

style
	include nav.css		